@import "config";

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  width: 100%;
  height: 60px;
  padding: 16px;
  box-sizing: border-box;
  background: #FFFFFF;

  &-checkbox {
    width: 16px;
    height: 16px;
    margin: 0;

    &:hover {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: -6px;
        left: -6px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &:checked {
      &:hover::before {
        background-color: rgba(42, 130, 240, 0.1);
      }
    }
  }

  &-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 18px;

    font: {
      size: $font-size-s;
      weight: 500;
    }
    line-height: 24px;

    &-date {
      color: rgba(0, 0, 0, 0.6);
      font: {
        size: $font-size-xxs;
        weight: normal;
      }
      line-height: 18px;
    }

    &:hover {
      cursor: text;
    }

    &-done {
      @extend .task-content;
      text-decoration: line-through;
      opacity: 0.6;
    }
  }

  &-delete-btn {
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    border-radius: 100px;
    background-image: url($url-images + "btn_remove_nor.png");

    &:hover {
      background-image: url($url-images + "btn_remove_hov.png");
    }
  }

  &-update {
    @extend .task;
    border: 1px solid #2A82F0;
  }
}
